
GemRoller/.vs/GemRoller/v15/

GemRoller/GemRoller/bin/Release/

GemRoller/GemRoller/obj/Release/

JewelryRoller/JewelryRoller/obj/Debug/

MagicRoller/.vs/MagicRoller/v15/.suo

MagicRoller/.vs/MagicRoller/v15/Server/sqlite3/db.lock

MagicRoller/.vs/MagicRoller/v15/Server/sqlite3/storage.ide

MagicRoller/.vs/MagicRoller/v15/Server/sqlite3/storage.ide-shm

MagicRoller/.vs/MagicRoller/v15/Server/sqlite3/storage.ide-wal

MagicRoller/GemRoller/bin/Debug/MagicRoller.exe

MagicRoller/GemRoller/bin/Debug/MagicRoller.exe.config

MagicRoller/GemRoller/bin/Debug/MagicRoller.pdb

MagicRoller/GemRoller/bin/Debug/MagicTables.json

MagicRoller/GemRoller/bin/Debug/Newtonsoft.Json.dll

MagicRoller/GemRoller/bin/Debug/Newtonsoft.Json.xml

MagicRoller/GemRoller/obj/Debug/App.g.cs

MagicRoller/GemRoller/obj/Debug/App.g.i.cs

MagicRoller/GemRoller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller_MarkupCompile.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller_MarkupCompile.i.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller_MarkupCompile.i.lref

MagicRoller/GemRoller/obj/Debug/MagicRoller_MarkupCompile.lref

MagicRoller/GemRoller/obj/Debug/MagicRoller.csproj.CopyComplete

MagicRoller/GemRoller/obj/Debug/MagicRoller.csproj.CoreCompileInputs.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller.csproj.FileListAbsolute.txt

MagicRoller/GemRoller/obj/Debug/MagicRoller.csproj.GenerateResource.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller.csprojAssemblyReference.cache

MagicRoller/GemRoller/obj/Debug/MagicRoller.exe

MagicRoller/GemRoller/obj/Debug/MagicRoller.g.resources

MagicRoller/GemRoller/obj/Debug/MagicRoller.pdb

MagicRoller/GemRoller/obj/Debug/MagicRoller.Properties.Resources.resources

MagicRoller/GemRoller/obj/Debug/MainWindow.baml

MagicRoller/GemRoller/obj/Debug/MainWindow.g.cs

MagicRoller/GemRoller/obj/Debug/MainWindow.g.i.cs

MagicRoller/GemRoller/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

MagicRoller/GemRoller/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

MagicRoller/GemRoller/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

MagicRoller/packages/Newtonsoft.Json.11.0.2/.signature.p7s

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

MagicRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

MagicRoller/packages/Newtonsoft.Json.11.0.2/LICENSE.md

MagicRoller/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg

GemRoller/packages/Newtonsoft.Json.11.0.2/.signature.p7s

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

GemRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

GemRoller/packages/Newtonsoft.Json.11.0.2/LICENSE.md

GemRoller/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg

JewelryRoller/.vs/JewelryRoller/v15/.suo

JewelryRoller/.vs/JewelryRoller/v15/Server/sqlite3/db.lock

JewelryRoller/.vs/JewelryRoller/v15/Server/sqlite3/storage.ide

JewelryRoller/.vs/JewelryRoller/v15/Server/sqlite3/storage.ide-shm

JewelryRoller/.vs/JewelryRoller/v15/Server/sqlite3/storage.ide-wal

JewelryRoller/JewelryRoller/bin/Debug/Jewelry.json

JewelryRoller/JewelryRoller/bin/Debug/JewelryRoller.exe

JewelryRoller/JewelryRoller/bin/Debug/JewelryRoller.exe.config

JewelryRoller/JewelryRoller/bin/Debug/JewelryRoller.pdb

JewelryRoller/JewelryRoller/bin/Debug/Newtonsoft.Json.dll

JewelryRoller/JewelryRoller/bin/Debug/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/.signature.p7s

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

JewelryRoller/packages/Newtonsoft.Json.11.0.2/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

JewelryRoller/packages/Newtonsoft.Json.11.0.2/LICENSE.md

JewelryRoller/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg

MagicRoller/GemRoller/obj/Debug/DesignTimeResolveAssemblyReferences.cache

MagicRoller/GemRoller/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

TreasureRoller/.vs/TreasureRoller/v15/.suo

TreasureRoller/.vs/TreasureRoller/v15/Server/sqlite3/db.lock

TreasureRoller/.vs/TreasureRoller/v15/Server/sqlite3/storage.ide

TreasureRoller/.vs/TreasureRoller/v15/Server/sqlite3/storage.ide-shm

TreasureRoller/.vs/TreasureRoller/v15/Server/sqlite3/storage.ide-wal

TreasureRoller/packages/Newtonsoft.Json.12.0.3/.signature.p7s

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/portable-net40\+sl5\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.dll

TreasureRoller/packages/Newtonsoft.Json.12.0.3/lib/portable-net45\+win8\+wp8\+wpa81/Newtonsoft.Json.xml

TreasureRoller/packages/Newtonsoft.Json.12.0.3/LICENSE.md

TreasureRoller/packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg

TreasureRoller/packages/Newtonsoft.Json.12.0.3/packageIcon.png

TreasureRoller/TreasureRoller/bin/Debug/Newtonsoft.Json.dll

TreasureRoller/TreasureRoller/bin/Debug/Newtonsoft.Json.xml

TreasureRoller/TreasureRoller/bin/Debug/Treasure.json

TreasureRoller/TreasureRoller/bin/Debug/TreasureRoller.exe

TreasureRoller/TreasureRoller/bin/Debug/TreasureRoller.exe.config

TreasureRoller/TreasureRoller/bin/Debug/TreasureRoller.pdb

TreasureRoller/TreasureRoller/obj/Debug/App.g.cs

TreasureRoller/TreasureRoller/obj/Debug/App.g.i.cs

TreasureRoller/TreasureRoller/obj/Debug/DesignTimeResolveAssemblyReferences.cache

TreasureRoller/TreasureRoller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

TreasureRoller/TreasureRoller/obj/Debug/MainWindow.baml

TreasureRoller/TreasureRoller/obj/Debug/MainWindow.g.cs

TreasureRoller/TreasureRoller/obj/Debug/MainWindow.g.i.cs

TreasureRoller/TreasureRoller/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

TreasureRoller/TreasureRoller/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

TreasureRoller/TreasureRoller/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

TreasureRoller/TreasureRoller/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller_MarkupCompile.cache

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller_MarkupCompile.i.cache

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller_MarkupCompile.i.lref

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller_MarkupCompile.lref

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.csproj.CopyComplete

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.csproj.CoreCompileInputs.cache

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.csproj.FileListAbsolute.txt

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.csproj.GenerateResource.cache

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.csprojAssemblyReference.cache

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.exe

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.g.resources

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.pdb

TreasureRoller/TreasureRoller/obj/Debug/TreasureRoller.Properties.Resources.resources

JewelryRoller/JewelryRoller/bin/Release/Jewelry.json

JewelryRoller/JewelryRoller/bin/Release/JewelryRoller.exe

JewelryRoller/JewelryRoller/bin/Release/JewelryRoller.exe.config

JewelryRoller/JewelryRoller/bin/Release/JewelryRoller.pdb

JewelryRoller/JewelryRoller/bin/Release/Newtonsoft.Json.dll

JewelryRoller/JewelryRoller/bin/Release/Newtonsoft.Json.xml

JewelryRoller/JewelryRoller/obj/Release/App.g.cs

JewelryRoller/JewelryRoller/obj/Release/App.g.i.cs

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller_MarkupCompile.cache

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller_MarkupCompile.lref

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.csproj.CopyComplete

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.csproj.CoreCompileInputs.cache

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.csproj.FileListAbsolute.txt

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.csproj.GenerateResource.cache

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.csprojAssemblyReference.cache

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.exe

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.g.resources

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.pdb

JewelryRoller/JewelryRoller/obj/Release/JewelryRoller.Properties.Resources.resources

JewelryRoller/JewelryRoller/obj/Release/MainWindow.baml

JewelryRoller/JewelryRoller/obj/Release/MainWindow.g.cs

JewelryRoller/JewelryRoller/obj/Release/MainWindow.g.i.cs

JewelryRoller/JewelryRoller/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

JewelryRoller/JewelryRoller/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

JewelryRoller/JewelryRoller/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

JewelryRoller/JewelryRoller/obj/Release/TempPE/Properties.Resources.Designer.cs.dll

MagicRoller/GemRoller/bin/Release/MagicRoller.exe

MagicRoller/GemRoller/bin/Release/MagicRoller.exe.config

MagicRoller/GemRoller/bin/Release/MagicRoller.pdb

MagicRoller/GemRoller/bin/Release/MagicTables.json

MagicRoller/GemRoller/bin/Release/Newtonsoft.Json.dll

MagicRoller/GemRoller/bin/Release/Newtonsoft.Json.xml

MagicRoller/GemRoller/obj/Release/App.g.cs

MagicRoller/GemRoller/obj/Release/App.g.i.cs

MagicRoller/GemRoller/obj/Release/MagicRoller_MarkupCompile.cache

MagicRoller/GemRoller/obj/Release/MagicRoller_MarkupCompile.lref

MagicRoller/GemRoller/obj/Release/MagicRoller.csproj.CopyComplete

MagicRoller/GemRoller/obj/Release/MagicRoller.csproj.CoreCompileInputs.cache

MagicRoller/GemRoller/obj/Release/MagicRoller.csproj.FileListAbsolute.txt

MagicRoller/GemRoller/obj/Release/MagicRoller.csproj.GenerateResource.cache

MagicRoller/GemRoller/obj/Release/MagicRoller.csprojAssemblyReference.cache

MagicRoller/GemRoller/obj/Release/MagicRoller.exe

MagicRoller/GemRoller/obj/Release/MagicRoller.g.resources

MagicRoller/GemRoller/obj/Release/MagicRoller.pdb

MagicRoller/GemRoller/obj/Release/MagicRoller.Properties.Resources.resources

MagicRoller/GemRoller/obj/Release/MainWindow.baml

MagicRoller/GemRoller/obj/Release/MainWindow.g.cs

MagicRoller/GemRoller/obj/Release/MainWindow.g.i.cs

MagicRoller/GemRoller/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

MagicRoller/GemRoller/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

MagicRoller/GemRoller/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

MagicRoller/GemRoller/obj/Release/TempPE/Properties.Resources.Designer.cs.dll

TreasureRoller/TreasureRoller/bin/Release/Newtonsoft.Json.dll

TreasureRoller/TreasureRoller/bin/Release/Newtonsoft.Json.xml

TreasureRoller/TreasureRoller/bin/Release/Treasure.json

TreasureRoller/TreasureRoller/bin/Release/TreasureRoller.exe

TreasureRoller/TreasureRoller/bin/Release/TreasureRoller.exe.config

TreasureRoller/TreasureRoller/bin/Release/TreasureRoller.pdb

TreasureRoller/TreasureRoller/obj/Release/App.g.cs

TreasureRoller/TreasureRoller/obj/Release/App.g.i.cs

TreasureRoller/TreasureRoller/obj/Release/MainWindow.baml

TreasureRoller/TreasureRoller/obj/Release/MainWindow.g.cs

TreasureRoller/TreasureRoller/obj/Release/MainWindow.g.i.cs

TreasureRoller/TreasureRoller/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

TreasureRoller/TreasureRoller/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

TreasureRoller/TreasureRoller/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

TreasureRoller/TreasureRoller/obj/Release/TempPE/Properties.Resources.Designer.cs.dll

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller_MarkupCompile.cache

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller_MarkupCompile.lref

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.csproj.CopyComplete

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.csproj.CoreCompileInputs.cache

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.csproj.FileListAbsolute.txt

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.csproj.GenerateResource.cache

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.csprojAssemblyReference.cache

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.exe

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.g.resources

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.pdb

TreasureRoller/TreasureRoller/obj/Release/TreasureRoller.Properties.Resources.resources
