GemRoller/.vs/
GemRoller/packages/
GemRoller/GemRoller/bin/
GemRoller/GemRoller/obj/

MagicRoller/.vs/
MagicRoller/packages/
MagicRoller/GemRoller/obj/
MagicRoller/GemRoller/bin/
MagicRoller/Reformat/Reformat/obj/
MagicRoller/Reformat/Reformat/bin/


JewelryRoller/.vs/
JewelryRoller/packages/
JewelryRoller/JewelryRoller/bin/
JewelryRoller/JewelryRoller/obj/

TreasureRoller/.vs/
TreasureRoller/packages/
TreasureRoller/TreasureRoller/bin/
TreasureRoller/TreasureRoller/obj/

EncounterRoller/.vs/
EncounterRoller/packages/
EncounterRoller/EncounterRoller/obj/
EncounterRoller/EncounterRoller/bin/

SpellBookGenerator/.vs/
SpellBookGenerator/packages/
SpellBookGenerator/bin/
SpellBookGenerator/obj/
.vs/

EncounterRoller/WebCaptures/Canon List of Advanced Dungeons & Dragons 1st edition monsters - Dungeons and Dragons Wiki_files/
